@import "../../index.css";

.open {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: var(--step-3);
}

.nutrition {
  display: flex;
}

.meals {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 24px 48px rgba(0 0 0 / 8%);
  background-color: #212529;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.4s;
  padding-top: 24px;
  max-width: 430px;
  margin: 0 auto;
}

.meals:hover {
  transform: translateY(-12px);
  cursor: pointer;
}

.mealImg {
  object-fit: cover;
  max-width: 300px;
}

.mealContent {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 24px 24px 24px;
}

.mealTag {
  margin-bottom: 12px;
}

.tag {
  display: inline-block;
  padding: 5px 8px;
  font-size: var(--step-0);
  text-transform: uppercase;
  color: #212529;
  border-radius: 100px;
  font-weight: 600;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
  column-gap: 10px;
  padding: 0 24px 0 24px;
}

.tagVegetarian {
  background-color: #51cf66;
}

.mealTitle {
  font-size: var(--step-3);
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: capitalize;
  max-width: 70%;
}

.servings {
  display: block;
  font-size: var(--step-1);
  font-weight: 500;
  margin-top: 7px;
  margin-bottom: 7px;
}

.mealAttributes {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 16px;
}

.mealCalories {
  align-self: flex-start;
  flex-basis: 100%;
  font-size: var(--test);
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 10px;
}

.mealIcon {
  align-self: flex-end;
  margin-top: 5px;
  width: 24px;
  height: 24px;
  color: #ffa94d;
}

.calories {
  align-self: flex-end;
  font-size: var(--step-2);
}

.mealMacros {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mealAttribute {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.mealProtein {
  width: 24px;
  height: 24px;
  color: #ffa94d;
}

.macroLabel {
  align-self: center;
  text-transform: uppercase;
  font-size: var(--step-1);
}

.mealGrams {
  font-size: var(--step-1);
  font-weight: 500;
}

.mealFat {
  width: 24px;
  height: 24px;
  color: #ffe066;
}

.mealCarbs {
  width: 24px;
  height: 24px;
  color: #74b816;
}

.newGridRow2 {
  align-self: end;
}

.mealMicros {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
}

.justifyContent {
  display: flex;
  justify-content: space-between;
  gap: 36px;
}

.mealMicrograms {
  font-size: var(--step-0);
  font-weight: 500;
}

.mealMicros li {
  list-style-type: none;
  font-size: var(--step-0);
}

.labels {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  .mealAttributes {
    grid-template-columns: 1fr;
  }

  .mealMacros {
    gap: 6px;
  }

  .mealMicros {
    margin-left: 2.5px;
  }

  .mealCalories {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 500px) {
  .meals {
    min-width: 430px;
  }
}
