@import "../../index.css";

.recipes {
  display: flex;
  flex-direction: column;
  background: #f1f3f5;
  padding-top: 128px;
  min-height: 100vh;
  min-height: 100svh;
}

.searchBtn {
  display: flex;
  cursor: pointer;
  background-color: #f1f3f5;
  justify-items: center;
  align-items: center;
  border: none;
}

.searchIcon {
  font-size: var(--step-3) !important;
}

.cardContainer {
  width: 100%;
  margin: 0 auto;
  max-width: 1500px;
  padding: 128px 32px;
  display: grid;
  justify-items: stretch;
  column-gap: 48px;
  row-gap: 64px;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 48px;
}

.formContainer {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 3;
}

.searchbar {
  position: relative;
}

.input {
  color: white;
  width: 100%;
  border: none;
}

.form {
  display: flex;
  align-items: center;
  min-width: 50%;
  gap: 30px;
}

.inputField {
  font-size: var(--step-2) !important;
}

.icon {
  color: #212529;
  font-size: var(--step-4) !important;
}

.btn {
  padding: 20px 24px !important;
}

.btnLabel {
  font-size: var(--step-1) !important;
}

.menuList {
  font-size: var(--step-1) !important;
}

.menuBtn {
  padding: 16px 24px;
  font-size: var(--step-1) !important;
}

.searchIcon,
.settingsIcon {
  font-size: var(--step-1) !important;
  margin-left: 4px;
}

.btnText {
  font-size: var(--step-1) !important;
  text-transform: uppercase;
  font-weight: 400 !important;
  letter-spacing: 0.5px;
}

.btnTextIcon {
  color: #fff;
  font-size: var(--step-2) !important;
  text-transform: uppercase;
  font-weight: 40;
  letter-spacing: 0.5px;
  border-radius: 25px !important;
}

.justifyContent {
  margin-top: 12px !important;
  justify-content: center !important;
}

.filterHeader {
  font-size: var(--step-2) !important;
  margin-bottom: 12px;
}

.checkBox {
  font-size: var(--step-1) !important;
}

.drawer {
  background: #f1f3f5;
  padding: 24px 8px;
}

.drawerFilter {
  flex-grow: 2 !important;
}

.closeBtn {
  transform: scale(2) !important;
  margin-top: 12px !important;
  margin-right: 12px !important;
}

.error {
  margin-top: 128px;
  font-size: var(--step-3) !important;
}

@media screen and (max-width: 1450px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 825px) {
  .cardContainer {
    grid-template-columns: 1fr;
    justify-items: stretch;
  }

  .error {
    text-align: center;
    padding: 0 24px;
  }
}

@media screen and (max-width: 400px) {
  .form {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 450px) {
  .cardContainer {
    column-gap: 12px;
    justify-items: stretch;
  }
}

@media screen and (max-width: 600px) {
  .drawer {
    width: 100vw !important;
  }
}

@media screen and (max-width: 900px) {
  .cardContainer {
    padding: 128px 16px;
  }
}
