@import "../../index.css";

.main {
  background: #f1f3f5;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-height: 100svh;
  padding-top: 256px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 48px auto 0 auto;
  gap: 128px;
}

.cardContainer {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  align-items: stretch;
  max-width: 446px;
}

.ingredients {
  font-size: var(--step-1);
  text-transform: capitalize;
}

.healthLabels {
  display: grid;
  justify-items: start;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  font-size: var(--step-1);
  text-transform: capitalize;
}

.header {
  font-size: var(--step-3) !important;
  font-weight: 500;
}

.headerOne {
  font-size: var(--step-4);
  font-weight: 500;
  text-transform: capitalize;
}

.accordionContainer {
  display: flex;
  gap: 30px;
}

.instructions {
  display: flex;
  align-items: center;
  font-size: var(--step-2);
  text-decoration: underline;
  text-underline-offset: 3px;
  margin-top: 32px;
}

.icon {
  display: inline-block;
  margin-left: 8px;
}

.exit {
  position: absolute;
  top: 50%;
  left: 75px;
  font-size: var(--step-5);
  color: #212529;
}

.tag {
  padding: 0;
  margin: 0;
  font-size: var(--step-1);
  margin-top: 12px;
  color: #212529;
}

.positionRelative {
  position: relative;
  height: 700px;
}

.positionAbsolute {
  position: absolute;
  padding-bottom: 64px;
}

.nutrition {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  align-items: baseline;
  font-size: var(--step-1);
}

@media screen and (max-width: 500px) {
  .header {
    font-size: var(--step-2) !important;
  }

  .nutrition {
    grid-template-columns: 1fr;
  }

  .cardContainer {
    padding: 0 16px !important;
  }
}

@media screen and (max-width: 1000px) {
  .section {
    padding-top: 156px;
  }

  .headerOne {
    margin-top: 32px;
  }

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cardContainer {
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .accordionContainer {
    align-self: center;
  }

  .headerOne {
    text-align: center;
  }

  .exit {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto 16px auto;
  }
}
