@import "../../index.css";

.main {
  background: #f1f3f5;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.liItem {
  font-size: var(--step-1);
  text-transform: capitalize;
}

.section {
  display: flex;
  margin-top: 92px;
  gap: 50px;
}

.imgContainer {
  align-self: flex-start;
  order: -1;
}

.ingredients {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.btn {
  padding: 18px 24px;
}

.btnContainer {
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
  gap: 64px;
}

.btnText {
  font-size: var(--step-1);
}

.openIcon {
  font-size: var(--step-1);
}

.ingredients {
  font-size: var(--step-1);
}

.img {
  margin: 0 auto;
  margin-bottom: 64px;
}

.accordion {
  width: 500px;
}

.accordionPanel {
  max-width: 500px;
}

.accordionIcon {
  font-size: var(--step-2);
}
