@import "../../index.css";

.recipes {
  display: flex;
  flex-direction: column;
  background: #f1f3f5;
  padding-top: 128px;
  min-height: 100vh;
  min-height: 100svh;
}

.searchBtn {
  display: flex;
  cursor: pointer;
  background-color: #f1f3f5;
  justify-items: center;
  align-items: center;
  border: none;
}

.searchIcon {
  font-size: var(--step-3);
}

.cardContainer {
  width: 100%;
  margin: 0 auto;
  max-width: 1500px;
  padding: 152px 32px;
  display: grid;
  column-gap: 48px;
  row-gap: 96px;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 48px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 3;
}

.searchbar {
  position: relative;
}

.input {
  color: white;
  width: 100%;
  border: none;
}

.form {
  display: flex;
  align-items: center;
  min-width: 50%;
  gap: 30px;
}

.inputField {
  font-size: var(--step-2);
}

.icon {
  color: #212529;
  font-size: var(--step-4);
}

.btn {
  padding: 16px 24px;
}

.btnLabel {
  font-size: var(--step-1);
}

@media screen and (max-width: 1450px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
  }
}
