@import "../../index.css";

.header {
  min-height: 100vh;
  min-height: 100svh;
  min-height: -webkit-fill-available;
  background-image: url("/header.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #212529;
}

.landing {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  max-width: 3720px;
  height: 100vh;
  padding: 16px;
  margin: 0 auto;
}

/* 35.15rem max width
 11.71rem min width*/
.h1 {
  font-size: var(--step-7);
  font-weight: 700;
  transition: font-size 0.15s ease-out;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  padding: 16px;
}

.p {
  font-size: var(--step-4);
  font-weight: 500;
  transition: font-size 0.15s ease-out;
  max-width: 85%;
}

.headerBtn {
  align-self: flex-start;
  background-color: transparent;
  border: none;
}

.learnMoreBtn {
  text-decoration: none;
  color: #fff;
  color: white;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: var(--step-4);
  align-self: flex-start;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

@media screen and (max-width: 900px) {
  .landing {
    grid-template-columns: 1fr;
  }

  .info {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .headerBtn {
    align-self: center;
  }

  .header {
    background-image: url("/mobile.webp");
  }

  .p {
    max-width: 85%;
  }
}

@media screen and (max-width: 300px) {
  .h1 {
    font-size: var(--step-5);
  }
  .p {
    font-size: var(--step-2);
  }
  .learnMoreBtn {
    font-size: var(--step-3);
  }
}
