@import "../../index.css";

.clipPathBackground {
  aspect-ratio: 960/250;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer {
  position: absolute;
  bottom: 0;
  background-image: url("../../assets/layered-waves-haikei3.svg");
}

.layer2 {
  position: absolute;
  top: 0;
  background-image: url("../../assets/layered-waves-haikei4.svg");
}

.main {
  padding: 152px 0;
  height: auto;
  background-color: #212529;
}

.info {
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 64px;
  row-gap: 96px;
  padding: 96px 0;
  margin: 0 auto;
}

.infoRecipes {
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 64px;
  row-gap: 96px;
  padding: 96px 0;
  margin: 0 auto;
}

.subheading {
  display: block;
  font-size: var(--step-2);
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  margin-bottom: 16px;
  letter-spacing: 0.75px;
}

.subheadingRecipe {
  display: block;
  font-size: var(--step-2);
  font-weight: 500;
  color: #212529;
  text-transform: uppercase;
  margin-bottom: 16px;
  letter-spacing: 0.75px;
}

.heading {
  font-size: var(--step-5);
  line-height: 1.1;
  color: white;
  margin-bottom: 96px;
}

.headingRecipe {
  font-size: var(--step-5);
  line-height: 1.1;
  color: #212529;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 32px;
}

.text {
  font-size: var(--step-2);
  color: white;
  line-height: 1.8;
}

.stepImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 100%;
  object-fit: cover;
}

.headingTertiary {
  color: white;
  font-size: var(--step-4);
  margin-bottom: 32px;
  line-height: 1.2;
}

.headingDiet {
  color: #212529;
  font-size: var(--step-4);
  margin-bottom: 32px;
  line-height: 1.2;
}

.stepNum {
  font-weight: 600;
  color: #ddd;
  margin-bottom: 12px;
  font-size: var(--step-8);
}

.paddingBottom {
  padding-bottom: 152px;
}

.paddingTop {
  padding-top: 96px;
}

.recipes {
  position: relative;
  padding: 152px 0;
  margin-top: 24px;
  background-color: #f1f3f5;
}

.centerText {
  text-align: center;
}

.cardContainer {
  display: grid;
  column-gap: 48px;
  row-gap: 96px;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 48px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

.listItem {
  font-size: var(--step-2);
  display: flex;
  align-items: center;
  gap: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

.diet {
  display: flex;
  justify-self: center;
  flex-direction: column;
  gap: 16px;
  z-index: 2;
}

.checkmark {
  font-size: var(--step-4);
  color: #37b24d;
}

.startSearchingBtn {
  color: black;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: var(--step-2);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  display: inline-block;
  padding-top: 24px;
}

.center {
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 96px;
}

.testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  box-sizing: content-box;
  padding-top: 152px;
}

.testimonialsContainer {
  box-sizing: border-box;
  padding: 48px;
}

.testimonialImg {
  width: 64px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.testimonialText {
  font-size: var(--step-2);
  line-height: 1.8;
  margin-bottom: 16px;
  color: white;
  flex-basis: 100%;
}

.testimonialName {
  font-size: var(--step-1);
  color: white;
}

.quotes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 48px;
  column-gap: 48px;
}

.imgGallery {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
}

.imgGallery img {
  width: 100%;
  display: block;
  transition: all 0.4s;
}

.imgGallery img:hover {
  transform: scale(1.1);
}

.imgItem {
  overflow: hidden;
}

.figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  padding: 128px 0;
  border-top: 1px solid white;
  background-color: #f1f3f5;
}

.footerGrid {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  column-gap: 64px;
  row-gap: 96px;
}

.footerCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 225px;
}

.footerResources {
  display: flex;
  flex-direction: column;
}

.navCol {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: space-between;
  list-style: none;
  font-size: var(--step-1);
  color: #212529;
}

.footerLogo {
  text-decoration: none;
  font-weight: 500;
  font-size: var(--step-2);
  color: #212529;
  margin-bottom: 40px;
}

.footerLinks {
  display: flex;
  gap: 24px;
  list-style: none;
  text-decoration: none;
  color: #212529;
  transition: all 0.3s;
}

.footerLink {
  text-decoration: none;
  color: #212529;
  font-size: var(--step-1);
}
.copyright {
  font-size: var(--step-1);
  line-height: 1.6;
  color: #212529;
}

.footerHeading {
  font-size: var(--step-2);
  font-weight: 500;
  margin-bottom: 40px;
}

.contacts {
  font-style: normal;
  font-size: var(--step-1);
  line-height: 1.6;
  padding: 0;
}

.footerNav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.overflowAuto {
  overflow-x: hidden;
}

@media screen and (max-width: 1050px) {
  .testimonials {
    grid-template-columns: 1fr;
  }

  .imgGallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .quotes {
    grid-template-columns: 1fr;
  }
  .testimonialsContainer {
    padding: 96px 32px;
  }
}

@media screen and (1050px <= width <= 1300px) {
  .imgGallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (900px <= width <= 1400px) {
  .infoRecipes {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media screen and (900px <= width <= 1250px) {
  .footerGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .info {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .infoRecipes {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .stepImg:nth-child(2) {
    grid-row: 2;
  }

  .stepImg:nth-child(3) {
    grid-row: 4;
  }
}

@media screen and (max-width: 900px) {
  .footerGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .footerGrid {
    grid-template-columns: 1fr;
  }
}
