:root {
  --font-size-sm: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-base: clamp(1.2rem, 0.41vw + 1.1rem, 1.43rem);
  --font-size-md: clamp(1.44rem, 0.49vw + 1.32rem, 1.71rem);
  --font-size-lg: clamp(1.73rem, 0.59vw + 1.58rem, 2.05rem);
  --font-size-xl: clamp(2.07rem, 0.71vw + 1.9rem, 2.46rem);
  --font-size-xxl: clamp(2.49rem, 0.85vw + 2.28rem, 2.95rem);
  --font-size-xxxl: clamp(2.99rem, 1.02vw + 2.73rem, 3.55rem);
  --font-size-vl: clamp(3.58rem, 1.22vw + 3.28rem, 4.26rem);
  --font-size-vvl: clamp(4.3rem, 1.47vw + 3.93rem, 5.11rem);
}

.linkContainer {
  position: absolute;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.navToggle {
  font-size: 3rem;
  padding: 16px;
  color: white;
  background: transparent;
  border-color: transparent;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.navHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 40px;
}

.title {
  font-size: var(--font-size-lg);
  color: black;
}

.nav {
  position: fixed;
  display: block;
  width: 100%;
  color: white;
  z-index: 10;
  transition: all 0.1s;
}

.navLink {
  color: #212529;
  text-decoration: none;
  display: block;
}

.iconLinks {
  display: none;
}

@media screen and (min-width: 800px) {
  .nav {
    display: block;
  }

  .navCenter {
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
  }

  .navHeader {
    flex-basis: 50%;
    padding: 0;
  }

  .linkContainer {
    position: static;
    display: block;
    height: auto !important;
  }

  .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
  }

  .navLink {
    color: #212529;
    text-decoration: none;
  }

  .iconLinks {
    display: inline-block;
    font-size: 1.4rem;
    color: #212529;
    line-height: 0;
    height: auto;
  }

  .iconLinks:visited {
    color: #212529;
  }

  .navToggle {
    display: none;
  }
}
