@import '../../index.css';

.linkContainer {
  position: absolute;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.navToggle {
  font-size: 3rem;
  padding: 16px;
  color: white;
  background: transparent;
  border-color: transparent;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.navHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 40px;
}

.title {
  font-size: var(--step-3);
  color: white;
}

.nav {
  position: fixed;
  display: block;
  width: 100%;
  color: white;
  z-index: 10;
  transition: all 0.15s;
}

.navLink {
  color: #212529;
  text-decoration: none;
  display: block;
}

.iconLinks {
  display: none;
}

@media screen and (min-width: 800px) {
  .nav {
    display: block;
  }

  .navCenter {
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
  }

  .navHeader {
    flex-basis: 50%;
    padding: 0;
  }

  .linkContainer {
    position: static;
    display: block;
    height: auto !important;
  }

  .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
  }

  .navLink {
    color: #212529;
    text-decoration: none;
  }

  .iconLinks {
    display: inline-block;
    font-size: 1.4rem;
    color: #212529;
    line-height: 0;
    height: auto;
  }

  .iconLinks:visited {
    color: #212529;
  }

  .navToggle {
    display: none;
  }
}
