@import "../../index.css";

.main {
  padding: 152px 0;
  height: auto;
  background-color: #212529;
}

.info {
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 64px;
  row-gap: 96px;
  padding: 96px 0;
  margin: 0 auto;
}

.subheading {
  display: block;
  font-size: var(--step-2);
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  margin-bottom: 16px;
  letter-spacing: 0.75px;
}

.heading {
  font-size: var(--step-5);
  line-height: 1.1;
  color: white;
  margin-bottom: 96px;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 32px;
}

.text {
  font-size: var(--step-2);
  color: white;
  line-height: 1.8;
}

.stepImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 100%;
  object-fit: cover;
  max-height: 450px;
}

.headingTertiary {
  color: white;
  font-size: var(--step-4);
  margin-bottom: 32px;
  line-height: 1.2;
}

.stepNum {
  font-weight: 600;
  color: #ddd;
  margin-bottom: 12px;
  font-size: var(--step-8);
}
