@import "../../index.css";

.main {
  padding: 152px 0;
  height: auto;
  background-color: #212529;
}

.info {
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 64px;
  row-gap: 96px;
  padding: 96px 0;
  margin: 0 auto;
}

.infoRecipes {
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 64px;
  row-gap: 96px;
  padding: 96px 0;
  margin: 0 auto;
}

.subheading {
  display: block;
  font-size: var(--step-2);
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  margin-bottom: 16px;
  letter-spacing: 0.75px;
}

.subheadingRecipe {
  display: block;
  font-size: var(--step-2);
  font-weight: 500;
  color: #212529;
  text-transform: uppercase;
  margin-bottom: 16px;
  letter-spacing: 0.75px;
}

.heading {
  font-size: var(--step-5);
  line-height: 1.1;
  color: white;
  margin-bottom: 96px;
}

.headingRecipe {
  font-size: var(--step-5);
  line-height: 1.1;
  color: #212529;
  margin-bottom: 96px;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 32px;
}

.text {
  font-size: var(--step-2);
  color: white;
  line-height: 1.8;
}

.stepImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 100%;
  object-fit: cover;
  max-height: 450px;
}

.headingTertiary {
  color: white;
  font-size: var(--step-4);
  margin-bottom: 32px;
  line-height: 1.2;
}

.headingDiet {
  color: #212529;
  font-size: var(--step-4);
  margin-bottom: 32px;
  line-height: 1.2;
}

.stepNum {
  font-weight: 600;
  color: #ddd;
  margin-bottom: 12px;
  font-size: var(--step-8);
}

.paddingBottom {
  padding-bottom: 96px;
}

.paddingTop {
  padding-top: 96px;
}

.recipes {
  background-color: #f1f3f5;
}

.centerText {
  text-align: center;
}

.cardContainer {
  display: grid;
  column-gap: 64px;
  row-gap: 96px;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 48px;
}

.meals {
  box-shadow: 0 24px 48px rgba(0 0 0 / 8%);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meals:hover {
  transform: translateY(-12px);
}

.mealTag {
  margin-bottom: 12px;
  display: flex;
  gap: 4px;
}

.tag {
  display: inline-block;
  padding: 4px 8px;
  font-size: var(--step-0);
  text-transform: uppercase;
  color: #212529;
  border-radius: 100px;
  font-weight: 600;
}

.tagVegetarian {
  background-color: #51cf66;
}

.mealImg {
  width: 100%;
  object-fit: cover;
}

.mealContent {
  padding: 32px 48px 48px 48px;
  flex-basis: 100%;
}

.mealAttributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mealTitle {
  font-size: var(--step-3);
  font-weight: 600;
  margin-bottom: 32px;
}

.mealAttribute {
  font-size: var(--step-2);
  display: flex;
  align-items: center;
  gap: 16px;
}

.mealIcon {
  height: 24px;
  width: 24px;
  color: #f03e3e;
}

.servings {
  display: block;
  font-size: var(--step-1);
  font-weight: 500;
  margin-top: 7px;
}

.calories {
  font-size: var(--step-2);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

.listItem {
  font-size: var(--step-2);
  display: flex;
  align-items: center;
  gap: 16px;
  line-height: 1.2;
}

.diet {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkmark {
  font-size: var(--step-4);
  color: #37b24d;
}

@media screen and (max-width: 900px) {
  .info {
    grid-template-columns: 1fr;
  }

  .stepImg:nth-child(2) {
    grid-row: 2;
  }

  .stepImg:nth-child(3) {
    grid-row: 4;
  }
}

@media screen and (900px <= width <= 1300px) {
  .infoRecipes {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .diet {
    justify-self: center;
  }

  .meals {
    display: flex;
  }

  .mealImg {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .infoRecipes {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  
  .meals {  
    display: block;
  }

  .mealsImg {
    width: 100%;
  }
}
